@import "./core/base";
@import "./core/reset";
@import "./core/config";
@import "./component/folded_corner";

body {
  font-size: 14px;
  min-width: 1200px;
  font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
  background: #fff;
}

a {
  color: $themeColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  cursor: pointer;
}

.icon {
  display: inline-block;
}

