@import "./core/base";
@import "./core/reset";
@import "./core/config";

.s-grid-wrapper-outer{
 width:100%;
 position: relative;
 font-family: 'Microsoft Yahei', Arial, STHeiti, sans-serif;
 font-size:14px;
 @include boxSizing(border-box);
 border:1px solid $bdColor;
 &:before{
  content: '';
  background: $bgColor;
  position: absolute;
  width:100%;
  height:24px;
  z-index:-1;
 }
}
.s-grid-wrapper {
 width:100%;
 overflow: auto;
 position:relative;
 .s-grid-wrapper-inner{
  overflow: hidden;
 }
 .s-grid-table{
  float:left;
  overflow:hidden;
 }

 .s-table-header{
  width:100%;
  overflow: hidden;
  @include setHeightGroup(24px);
  background: $bgColor;
  &:after{
   content: '';
   display:block;
   clear:both;
  }
  .sc-grid-drag-quarantine{
   position: absolute;
   right:-2px;
   top:0;
   width:5px;
   height:100%;
   background: transparent;
   z-index: 5px;
  }
  .s-grid-rownumber{
   background: $bgColor;
   text-align: center;
   border-right:1px solid $bdColor;
  }
  .s-grid-sort-asc{
   background: lighten($bgColor, 6%);
   .s-grid-text{
    padding-right:12px;
    background: url(images/sort_asc.gif) right center no-repeat;
   }
   &:hover{
    background: lighten($bgColor, 6%) !important;
   }
  }
  .s-grid-sort-desc{
   background: lighten($bgColor, 6%);
   .s-grid-text{
    padding-right:12px;
    background: url(images/sort_desc.gif) right center no-repeat;
   }
   &:hover{
    background: lighten($bgColor, 6%) !important;
   }
  }
  .s-grid-check-wrapper{
   display: inline-block;
   padding: 5px 6px;
   height: 23px;
   float:left;
   .s-grid-check{
    display: inline-block;
    width:13px;
    height:13px;
    float:left;
    background: url(images/checkbox.gif) 0 0 no-repeat;
   }
  }
  .s-grid-check-wrapper.s-grid-row-selected .s-grid-check{
   background: url(images/checkbox.gif) 0 -13px no-repeat;
  }
  .s-table-column{
   position: relative;
   float:left;
   border:1px solid $bdColor;
   border-top: 0;
   border-left:0;
   height:24px;
   line-height: 23px;
   @extend %textOverflowEllipsis;
   &.s-grid-checkbox{
    padding:0;
    .s-grid-text-wrapper{
     padding:0;
    }
   }
   .s-grid-text-wrapper{
    padding:0 5px;
    width: 100%;
    @include setHeightGroup(23px);
    @extend %textOverflowEllipsis;
   }
   &:hover{
    background: lighten($bgColor, 4%);
   }
  }
 }
 .s-table-wrapper{
  table{
   table-layout: fixed;
   border-collapse: separate;
   border-spacing: 0;
  }
  td{
   @extend %textOverflowEllipsis;
   padding:0 5px;
   height:24px;
   line-height:23px;
   border:0;
   border-right: 1px solid $bdColor;
   border-bottom: 1px solid $bdColor;
  }
  .s-grid-rownumber{
   background: $bgColor;
   text-align: center;
  }
  .s-grid-checkbox{
   background: $bgColor;
   text-align: center;
   width:26px;
   padding:0;
  }
  .s-grid-check-wrapper{
   display: inline-block;
   padding: 5px 6px;
   height: 23px;
   float:left;
   .s-grid-check{
    display: inline-block;
    width:13px;
    height:13px;
    float:left;
    background: url(images/checkbox.gif) 0 0 no-repeat;
   }
  }
  .s-grid-row-hover{
   background: lighten($themeColor, 40%);
  }
  .s-grid-row-selected{
   background: lighten($themeColor, 30%);
   .s-grid-check-wrapper{
    .s-grid-check{
     background: url(images/checkbox.gif) 0 -13px no-repeat;
    }
   }
  }
 }
}
.s-grid-drag-line{
 background: #999 !important;
}