@import "./core/base";
@import "./core/reset";
@import "./core/config";

.sc-grid-wrapper-outer{
 width:100%;
 position: relative;
 &:before{
  content: '';
  background: $bgColor;
  position: absolute;
  width:100%;
  height:24px;
  z-index:-1;
 }
}
.sc-grid-wrapper {
 width:100%;
 font-size:14px;
 overflow: hidden;
 font-family: "Microsoft Yahei";
 @include boxSizing(border-box);
}
.sc-grid-table{
 float:left;
 overflow:hidden;
 @include boxSizing(border-box);
}
.sc-table-header{
 width:100%;
 overflow: hidden;
 height:24px;
 line-height: 24px;
 background: $bgColor;
 &:after{
  content: '';
  display:block;
  clear:both;
 }
 .sc-table-column{
  position: relative;
  float:left;
  @extend %textOverflowEllipsis;
 }
}
.sc-table-wrapper{
 @include boxSizing(border-box);
 table{
  table-layout: fixed;
  border-collapse: collapse;
  @include boxSizing(border-box);
  padding: 0;
  border:0;
  margin:0;
 }
 td{
  @extend %textOverflowEllipsis;
 }
}
