$fontColor: #333;
$lighterFontColor: #666;
$lightestFontColor: #999;
$bgColor: #fff;
$bdColor: #d9d9d9;
$themeColor: #5d7895;
$lighterThemeColor: lighten($themeColor, 8%);
$darkerThemeColor: darken($themeColor, 8%);
