$fontColor: #333;
$lighterFontColor: #666;
$lightestFontColor: #999;
$bgColor: #e3e3e3;
$bdColor: #d9d9d9;
$lighterBdColor: #eee;
$themeColor: #088BEE;
$paginationThemeColor: #d1291a;
$paginationBgColor: #eff0f1;
$paginationBdColor: #e7e7e7;
$lighterThemeColor: lighten($themeColor, 8%);
$darkerThemeColor: darken($themeColor, 8%);
